/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  font-family: sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* STYLING */

/* HEADER */

.header {
	display: flex;
	margin: 0 auto;
	width: 90%;
	justify-content: space-between;
	padding: 10px;
}

.personalSite {
	width: 250px;
	color: white;
	margin-top: 25px;
	font-weight: bold;
}

.title {
	display: flex;
}

.titleAvatar {
	height: 50px;
	padding: 10px;
}

.navLinks {
	width: 250px;
	display: flex;
	color: white;
	font-size: 30px;
}

.navLinks a {
	padding: 10px;
}

/* CANVAS */

.game {
  display: flex;
  margin: 0 auto;
	position: relative;
}

.username-input {
	position: absolute;
	left: 195px;
	top: 350px;
	width: 240px;
	padding: 5px;
	background: none;
	border: none;
	font-size: 15px;
	color: yellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	z-index: -1;
}

.username-input::-webkit-input-placeholder {
	color: yellow;
}

.username-input:focus {
	outline: none;
}


body {
  margin: 0 auto;
  background: #222;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0 auto;
  color: white;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 30px;
  font-weight: bold;
}

canvas {
  margin: 0 auto;
  width: 640px;
  height: 480px;
}

// canvas:hover {
//   cursor: crosshair;
// }

/* RULES */

.rules {
  color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

h2 {
  margin: 0 auto;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
}

.rulesList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.rulesList li {
  margin: 0 auto;
  padding: 5px;
  font-size: 18px;
}

.footer {
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid yellow;
  width: 100%;
}

.footer p {
  margin: 0 auto;
}

.footer a {
  margin: 0 auto;
  margin-top: 5px;
  color: yellow;
}
